<%- include('partials/header') %>

  <h1 class="dashboard">Bienvenue </h1>
  <section id="profil">
    <div class="user">
      <h2>Profil</h2>
      <h3>Nom : </h3>
      <p>
        <%= user.last_name %>
      </p>
      <h3>Prénom : </h3>
      <p>
        <%= user.first_name %>
      </p>
      <h3>Email :</h3>
      <p>
        <%= user.email %>
      </p>
    </div>
    <div class="trees">
      <h2>Liste des arbres :</h2>
      <% user.UserHasTrees.forEach(userTree=> { %>
        <h3>Arbre :</h3>
        <p>
          <%= userTree.Tree.name %>
        </p>
        <% userTree.Tree.Places.forEach(place=> { %>
          <h3>Quantité :</h3>
          <p>
            <%= place.PlaceHasPlant.quantity %>
          </p>
          <h3>Lieu(x) : </h3>
          <p>
            <%= place.name %>
          </p>
          <% }) %>
            <% }) %>
    </div>
    <% if (userRole==='admin' ) { %>
    <div class="create">
    <a class="create_button" href="/users">Liste des utilisateurs</a>
    </div>
    <% } %>
    <div class="profil_logout"><a href="/logout">Se déconnecter</a></div>


  </section>

  <%- include('partials/footer') %>