<%- include('partials/header') %>

  <h1 class="dashboard">Bienvenue </h1>
  <section id="profil">
    <div class="user">
      <h3>Nom : </h3>
      <p>
        <%= user.last_name %>
      </p>
      <h3>Prénom : </h3>
      <p>
        <%= user.first_name %>
      </p>
      <h3>Email :</h3>
      <p>
        <%= user.email %>
      </p>
    </div>
    <div class="trees">
      <h2>Liste des arbres :</h2>
      <% user.UserHasTrees.forEach(userTree=> { %>
        <h3>Arbre :</h3>
        <p>
          <%= userTree.Tree.name %>
        </p>
        <h3>Quantité :</h3>
        <p>
          <%= userTree.quantity %>
        </p>
        <h3>Lieu(x) : </h3>
        <p>
          <% userTree.Tree.Places.forEach((place, index)=> { %>
            <%= place.name %>
              <%= index < userTree.Tree.Places.length - 1 ? ', ' : '' %>
                <% }) %>
        </p>
        <% }) %>
    </div>

    <a href="/logout">Se déconnecter</a>

  </section>

  <%- include('partials/footer') %>